[submodule "anchor-vault"]
	path = anchor-vault
	url = https://github.com/denimcodes/anchor-vault.git
[submodule "anchor-escrow"]
	path = anchor-escrow
	url = https://github.com/denimcodes/anchor-escrow.git
[submodule "anchor-amm"]
	path = anchor-amm
	url = https://github.com/denimcodes/anchor-amm.git
[submodule "anchor-nft-staking"]
	path = anchor-nft-staking
	url = https://github.com/denimcodes/anchor-nft-staking.git
